@model WinnersIndy.Model.ChildrenClassFolder.ChildrenClassDetail

@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(model=>model.ChildrenClass)</h2>

<div>
    
    
    <br />
    
    
  

    <table class="table">
        <tr>
            <th>
               First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Designation
            </th>
            <th></th>
        </tr>
        @foreach (var modelitem in Model.ChildDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => modelitem.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(Model => modelitem.LastName)
                </td>
                <td>
                    @Html.DisplayFor(Model => modelitem.Designation)
                </td>

            </tr>
        }
    </table>


    @*</dl>*@
</div>
<p>

    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Class Attendance", "GetAttendanceDate", "Attendance", new { id = Model.ChildrenClassId }, null)
</p>
