@model IEnumerable<WinnersIndy.Data.Member>
@{
    ViewBag.Title = "GetFamilyMember";
}

<h2>GetFamilyMember</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>

        <th>
            Send Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>

            <td>
                @if (item.ServiceUnit.ToString() != "Child")
                {
                    // @Html.ActionLink("Send Email", "SendEmail", new { id = item.MemberId, onclick = "javascript:return false;" })
                    @Html.ActionLink("Send Email", "SendEmail", new { id = item.MemberId })

                }
               

            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.MemberId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.MemberId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MemberId })
                </td>*@
        </tr>
     }

</table>

@Html.ActionLink("Back to List", "Index", "ChildrenClass")

