@model IEnumerable<WinnersIndy.Model.AttendanceFolder.ChildrenClassAttendanceListItem>

@{
    ViewBag.Title = "GetClassAttendance";
    
    
}


<br />
<br />
<h2>Class Attendance for: @ViewBag.Date </h2>


@*<p>
    @ViewBag.Date
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InChurch)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.HiddenFor(modelItem => item.MemberId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InChurch)
            </td>
            <td>
                @Html.ActionLink("Get Family List", "GetFamilyMember", "Member", new { id = item.MemberId }, null) 
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
